@CHARSET "UTF-8";

.notactivated {
	color: #808080;
}

#groups-menu {
	width: 30%;
	float: left;
}

#togglegroups {
	float: left;
}

.group {
	border-bottom: 1px solid #B2C1D1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.group .info {
	margin-bottom: 4px;
}

.group .creationdate {
	color: #999;
}

.group-name {
	font-size: 150%;
	margin-bottom: -4px;
}

.group .user {
	margin-bottom: 4px;
}

.group .user span {
	white-space: nowrap;
}

.group .userinfo img {
	margin-bottom: -2px;
}

.group .pads {
	margin-left: 4%;
}

.group .pad {
	overflow: hidden;
}

.group .pad .padname {
	font-size: 110%;
}

.selected {
	font-weight: bold;
}

.group .pad .lastEdited {
	float: right;
	color: #999;
}

.group .editform {
	display: inline;
}

.group .editform input[name="groupname"]{
	height: 15px;
	margin-bottom: 5px;
}

.group .editloader {
	margin-left: -30px;
	margin-bottom: -7px;
}

.group .loader {
	margin-bottom: -4px;
}

.newpad .loader {
	margin-bottom: -6px;
	margin-left: -86px;
}

#pad {
	float: left;
	width: 68%;
	min-height: 400px;
	background-color: white;
	margin-left: 2%
}

#pad.fullwidth {
	width: 100%;
	margin-left: 0;
}

#pad-options {
	text-align: right;
}

.group .newpadform {
	margin-top: 10px;
}

#invitations .group-link {
	color: #999;
}