@CHARSET "UTF-8";

#isPasswordProtected:HOVER{
	text-decoration: line-through;
}

#etherpadiframe {
	height: 100%;
}

#eplitewrap {
	height: 500px;
}

#passForm {
	margin-bottom: 5px;
}

#isPasswordProtected {
	margin-bottom: 10px;
}

#pad-options .loader {
	float: right;
	margin-right: -85px;
	margin-top: -2px;
}

#publicStatus {
	margin-bottom: 10px;
}