parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: '8889'
    database_name: ethergroups
    database_user: ethergroups-user
    database_password: [password]
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    mailer_noreply_address: noreply@example.com
    support_address: support@yourdomain.tld
    locale: de
    secret: [random_secret]
    ldap.data.provider.host: "ldaps://ldap.example.com"
    ldap.data.provider.port: 636
    ldap.data.provider.dn: "ou=users,c=DE"
    ldap.data.provider.uidAttribute: "uid"
    etherpadlite.apikey: '[APIKEY]'
    etherpadlite.url: 'http://etherpad.yourdomain.com:9001'
    cookie_domain: '.yourdomain.com'
    cookie_expires: 5400
    forgotpasswordurl: 'http://Forgot.password.com/'
    admin_login: admin
    admin_pass: ch4ng3ME!!
    loguserdata: false
    readonly: false
    invitation.maxdays: 21