@CHARSET "UTF-8";

#isPasswordProtected:HOVER{
	text-decoration: line-through;
}

#etherpadiframe {
	height: 100%;
}

#eplitewrap {
	height: 500px;
}

.indicator{
	width: 20px;
	height: 12px;
	background-color: red;
	display: inline-block;
	margin-left: 10px;
}

.indicator.on {
	background-color: green;
}