@CHARSET "UTF-8";

#isPasswordProtected:HOVER{
	text-decoration: line-through;
}

#etherpadiframe {
	border: 1px solid black;
	height: 100%;
}

#eplitewrap {
	/*padding: 10px;*/
	/*border: 1px solid black;*/
	height: 500px;
}